<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Current Auctions</h2>
    <p>Hi @ViewBag.user_name</p>
    <a href='/logout'>Log out</a>

    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Seller</th>
                <th>Top Bid</th>
                <th>Time Remaining</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var products in @ViewBag.AllProducts) {
            <tr>
                <td><a href='/products/@products["ProductId"]'>@products["ProductName"]</a></td>
                <td>@products["UserName"]</td>
                <td>$@products["bid"]</td>
                <td>@products["end_date"] Days</td>
                @if(products["UserId"] == @ViewBag.user_id) {
                    <td>
                    <form action='/delete' method='post'>
                        <input type='submit' value='Delete'>
                        <input type='hidden' name='id' value='@products["ProductId"]'>
                    </form>
                    </td>
                }
            </tr>
            }
        </tbody>
    </table>
    <h3>Current Wallet: $@ViewBag.user_balance</h3>
    <form action='/newAuction'>
        <input type='submit' value='New Auction'>
    </form>
</body>
</html>